*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    list-style-type: none;
}
.container{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
/*header*/
.header{ 
    display: flex;
justify-content: space-between;
height: auto;
width: auto;
border-bottom: solid black;
box-shadow: 0px 1px 15px 0px;
}
}
/*Header*/
.listaH{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 10px;
    margin-right: 10px;
    font-size: 22px;
    i{
        margin-right: 5px;
        font-size: 18px;
        
    }
    .cuenta{
        padding: 10px 20px 10px 20px;
        background-color: rgb(100, 59, 248);
        border-radius: 5px;
        text-align: center;
        color: rgb(255, 255, 255);
        box-shadow: 0.2px 0.2px 5px 0.2px black;
    }
    .inicio{
        text-align: center;
        color: black;
    }
    .sobreNosotros{
        color: black;
    }
}
.h{
    display:flex;
    align-items: center;
    margin-left: 10px;
    gap: 10px;
    .imagenH{
        height: 30px;
    }
    .textoH{
        font-size: 30px;
    
}

}
/*main*/
.titulo1{
    position: absolute;
    top: 100px;
    font-size: 70px;
    font-weight: 700;
    padding: 10px;
    border-bottom: solid black;
    color: rgb(0, 0, 0);
}
.TextoMain{
    width: 100%;
    h2{
        font-size: 65px;
        display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-inline: 20%;
    margin-bottom: 2%;
    border-bottom: solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    }
    p{ font-size: 30px;
    margin-right: 3%;
    margin-left: 3%;
    padding: 15px;
    height: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    }
}
.section2{
    height: 100%;
    width: 20%;
    padding: 2%;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
        font-size: 160px;
    color: black;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
.card{
    position: relative;
    width: 400px;
    height: 550px;
    margin: 20px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
}
.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background: black;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
}
.card .back{
    transform: perspective(600px) rotateY(180deg);
    background:#000000;
    padding: 15px;
    color: rgb(221, 219, 219);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px black;
}
.card .back .link{
    border-top: solid 1px rgb(0, 0, 0);
    height: 50px;
    line-height: 60px;
}
.card .back .link a{
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: rgb(100, 59, 248);
    border-radius: 20px;
    font-size: 25px;
}
.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
    padding: 5px;
    color: white;
    background-color: rgb(100, 59, 248);
    border-radius: 0 20px 0 20px;
}
.card .back p{
    font-size: 25px;
    letter-spacing: 1px;
    margin: 2px;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

/*footer*/
.footer{
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
}
.footer .social{
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    p{
        color: white;
        font-size: 25px;
    }
    a{
        color: white;
        font-size: 25px;
    }
}
.footer .listaF{
    font-size: 20px;
    font-weight: 500;
    gap: 4px;
    display: inline-flex;
    a{
        color: rgb(0, 0, 0);
    }
}
.footer .copyright{
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.prueba{
    display: flex;
    justify-content: center;
    align-items: center;
gap: 10px;
background-color: white;
padding: 5px;
}
/*Animations*/
.footer .social a:hover{
    transition: 0.9s;
    color: rgb(0, 0, 0);
    transform: rotateY(360deg);
}
/*formulario*/
.formulario{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(100, 59, 248);
    border-radius: 20px;
    box-shadow: 0px 7px 15px 0px;
}
.iniciar-sesion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 50px;
        font-weight: 500px;
        border-bottom: solid black;
        margin: 10px;
        color: rgb(0, 0, 0);
    }
    input{
        height: 50px;
        width: 60%;
        font-size: 15px;
        margin: 10px;
        border-radius: 15px;
    }
    button{
        height: 50px;
        width: 30%;
        margin: 10px;
        font-size: 25px;
        font-weight: 100;
        text-align: center;
        border-radius: 20px;
        background-color: rgb(0, 0, 0);
        color: rgb(250, 249, 249);
    }
    a{
        font-size: 20px;
        color: rgb(255, 255, 255);
        margin: 10px;
    }
}
